.headerTwo{
    color: white;
}
.headerTwoOption{
    display: flex;
    justify-content: space-between;
    background-color: #232f3e;
    align-items: center;
    padding: 0 10px;
}
.headerTwoOptionDeliverSpan{
    display: flex;
    flex-direction: column;
    margin: 0 15px;
}
.headerTwoLinks{
    display: flex;
    justify-content: space-between;
    width: 25%;
}